.app {
  text-align: center;

}

.header {
  position: fixed;
  background-color: #5b4366f7;
  color: rgb(33, 32, 32);
  padding: 20px;
  left: 0;
  margin: 0;
  top: 0;
  width: 100%;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: #333;
  padding: 15px;
  text-align: center;
  color: rgb(38, 36, 36);
}

.body {
  padding: 20px;
  margin-top: 60px;
  text-align: center;
  height: 100vh;
}